header{
  width: 100%;
  background-color: cornflowerblue;
  padding: 1rem;
  color: white;
}

.menu{
  list-style: none;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.menu li {
  cursor: pointer;
  background-color: lightblue;
}
.menu li a{
  text-align: center;
  display: block;
  padding: 1rem 2rem;
  background-color: rgba( 0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 510px) {
  .menu li {
    flex: 1;
  }
}